{{extend defaultLayout}}
{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{pluResPath}}info/index.css" />
{{if !toGif}}
<style>
    #container {
        background: url('{{background}}') no-repeat #363a42;
        color: {{color}};
    }
</style>
{{/if}}
{{/block}}

{{block 'main'}}

{{if toGif}}
<div class="bg-webm">
    <video autoplay muted loop playsinline>
        <source src="{{backgroundWebm}}" type="video/webm">
    </video>
</div>
{{/if}}

<div id="profile">
    <div id="avatar-box">
        {{if frame}}
        <div id="avatar-frame">
            <img src="{{frame}}">
        </div>
        {{/if}}
        <img src="{{avatar}}" width="164" height="164">
        <div id="name-box">
            <div id="profile-name">{{name}}</div>
            <div id="profile-status">{{status}}</div>
        </div>
    </div>
    {{if gameId}}
    <div id="playing-box">
        <div>
            {{if gameHeader}}<img src="{{gameHeader}}" width="164">{{/if}}
        </div>
        <div id="playing-info">
            <div>游戏中</div>
            <div>{{gameName}}</div>
        </div>
    </div>
    {{/if}}
    <div id="profile-info">
        <div>
            好友代码: {{friendCode}}
        </div>
        <div>
            注册时间: {{createTime}}
        </div>
        {{if lastTime}}
        <div>
            最后在线: {{lastTime}}
        </div>
        {{/if}}
        {{if country}}
        <div>
            账号地区: {{country}}
        </div>
        {{/if}}
    </div>
</div>
{{/block}}
